<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Formulari Agent</title>
        <link rel="stylesheet" href="/styles/stylesForm.css">
    </head>
    <body>
        <a href="/agents">
            <button class="blau-btn">Tornar</button>
        </a>
        <h1 th:text="${agent.dni != null ?  'Editar Agent' : 'Crear Agent'}"></h1>
        <br>

        <form th:action="@{${agent.dni != null ? '/agents/edit/' + agent.dni : '/agents/create'}}" th:object="${agent}" method="post">
            <label>DNI:</label>
            <input type="text" th:field="*{dni}" required>
            <div th:if="${errorMessage}" style="color: red;">
                <p class="errorMsg" th:text="${errorMessage}"></p>
            </div>
            <label>Nom:</label>
            <input type="text" th:field="*{nombre}" required>
            <label>Cognom:</label>
            <input type="text" th:field="*{apellido}" required>
            <label>Email:</label>
            <input type="email" th:field="*{email}" required>
            <label>Telèfon:</label>
            <input type="text" th:field="*{telefono}" pattern="\d{9}" required>

            <label for="cadDni">Caducitat DNI:</label>
            <input type="date" id="cadDni"  th:min="${fechaHoy}" name="caducDni" value="" th:attr="value=${fechaCaducitatLlicencia}" rerquired>

             <div class="dropdown-checkbox">
                <label for="dropdown">Llicència de Conduir:</label>
                <div class="dropdown-header-LL" th:onclick="toggleDropdown()">Selecciona...</div>
                <div class="dropdown-options-LL" id="dropdown-options-LLC">
                    <div th:each="option : ${T(cat.copernic.CarConnect.Entity.MySQL.Enums.TipusLlicenciaConduccio).values()}">
                        <label>
                            <input type="checkbox" name="llicenciaConduc" th:checked="${llicenciaCond != null and #strings.contains(',' + llicenciaCond + ',', ',' + option + ',')}"
                                   th:value="${option}" />
                            <span th:text="${option}"></span>
                        </label>
                    </div>
                </div>
            </div>
            
            <label>Targeta de credit:</label>
            <input type="text" th:field="*{targetaCredit}" pattern="\d{12}" required>

            <label for="cadLlicencia">Caducitat Llicència:</label>
            <input type="date" id="cadLlicencia"  th:min="${fechaHoy}" name="cadLlicenciaCond" value="" th:attr="value=${fechaCaducitatDni}" required>

            <label>Adreça:</label>
            <input type="text" th:field="*{adreca}" required>
            <label>Tipus Client:</label>
            <select th:field="*{tipusClient}">
                <option th:each="type : ${T(cat.copernic.CarConnect.Entity.MySQL.Enums.TipusClient).values()}"
                        th:value="${type}" 
                        th:text="${type}">
                </option>
            </select>

            <label for="dataCont">Data de Contracte:</label>
            <input type="date" id="dataCont" name="dataDeContact" value="" th:attr="value=${fechaDataContr}" required>

            <label>Rol:</label>
            <select th:field="*{rol}">
                <option th:each="type : ${T(cat.copernic.CarConnect.Entity.MySQL.Enums.Rol).values()}"
                        th:value="${type}" 
                        th:text="${type}">
                </option>
            </select>
            <!-- Localizació -->
            <label for="localitzacio">Localizació:</label>
            <select value="" th:attr="value=${agent.localitzacio}" th:field="*{localitzacio.CodiPostal}" id="localitzacio" name="localit">
                <option th:each="localitzacio : ${localitzacions}" 
                        th:value="${localitzacio.CodiPostal}" 
                        th:text="${localitzacio.comunitatAutonoma + ' - ' + localitzacio.ciutat}"></option>
            </select><br/>
            <label>Contrasenya</label>
            <input type="password" th:field="*{password}" required>
            <button type="submit">Guardar</button>


        </form>
        <!-- Referencia al script externo -->
        <script src="/scripts/main.js"></script>
    </body>
</html>
