<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reserves</title>
        <link rel="stylesheet" href="/styles/stylesForm.css">


    </head>
    <body>
        <h1>Gestió de Reserves</h1>
        <br>
        <button onclick="location.href = '/reservas/list'">Llista de Reserves</button>
        <button onclick="location.href = '/reservas/create'">Crear Reserva</button>
        <button onclick="location.href = '/reservas/vehicles-available'">Consultar Disponibilitat</button>
    </body>
</html>
